{
    "presets": [
        [
            "env", {
                "modules": false,
                "targets": {
                    "browsers": ["Android >= 4.0.0", "ios >= 6"],
                    "useBuiltIns": true
                }
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-runtime",
        ["component", {
            "libraryName": "mint-ui",
            "libraryDirectory": "es",
            "style": true
        }] 
    ]
}