.DS_Store
node_modules/
/dist/
npm-debug.log*
.vscode
**/finance/
**/flow/
**/inventory/
**/purchase/
**/repertory/
**/enquiry.js
**/purchase.js
**/repertory.js
**/sales.js
**/quote.js
**/audit.js
**/finance.js
**/inventory.js
