
@font-face {
    font-family: 'iconfont';  /* project id 706155 */
    src: url('//at.alicdn.com/t/font_706155_zjie5l957xb.eot');
    src: url('//at.alicdn.com/t/font_706155_zjie5l957xb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_706155_zjie5l957xb.woff') format('woff'),
    url('//at.alicdn.com/t/font_706155_zjie5l957xb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_706155_zjie5l957xb.svg#iconfont') format('svg');
}
