
$color-white: #fff;
$color-bg: rgb(241, 241, 241);
$color-border: rgb(230, 230, 230);
// #7f7f7f
$color-gray: rgb(127, 127, 127);
// #41acfc
$color-primary: rgb(65, 175, 252);
// #e6506a
$color-danger: rgb(230, 80, 106);
// #2dd048
$color-success: rgb(45, 208, 72);

// #fda84b
$color-worning: rgb(253, 168, 75);
$color-text: #333;


$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-l-m: 18px;
$font-size-l-l: 20px;
